<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        This site was created by Dina Fajardo. It uses data from mapbox.com and weatherstack.com!
        <img class="portrait" src="/img/smiley.png" alt="">
    </div>

    {{>footer}}
</body>
</html>