<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            
            <div class="weather-details">
                <div id="icon"></div>
                <div id="temp">0°C</div>
                <div id="desc">Weather description</div>
                <div id="other-desc">
                    <p>Precipitation: <span id="precipitation">0</span>%</p>
                    <p>Humidity: <span id="humidity">0</span>%</p>
                    <p>Wind: <span id="wind">0</span> km/hr</p>
                </div>

                <div>
                    <i class="fa fa-map-marker"></i> 
                    <span id="address">Address</span>
                </div>

                <p id="message-1"></p>

                <form action="" class="has-search">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" placeholder="Search location here...">
                </form>
            </div>

        </div>

        {{>footer}}
    </div>
    
    <script src="/js/app.js"></script>
</body>
</html>