@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(238, 245, 252);
    background-color: #171717;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color:rgb(12, 12, 12);
    text-align: center;
    font-size: 15px;
    padding-bottom: 1em;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.container {
    display: fixed;
    height: 90vh;
}

.main-content {
    flex-grow: 1;
    margin: 0 3em;
}

.weather-details {
    position: relative;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border-radius: 1em;
    margin: 3em auto 1em;
    padding: 2em;
    min-height: 80vh;
    width: 80vw;
}

#icon {
    width: 100px;
    height: 100px;
    background-image: url('https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 1.5em;
}

#temp {
    font-size: 150px;
    display: inline-block;
}

#desc {
    font-size: 50px;
}

#other-desc {
    position: absolute;
    top: 2em;
    right: 2em;
    text-align: right;
}

h1 {
    color: grey;
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

form {
    position: absolute;
    bottom: 3em;
    right: 0;
    width: 50%;
    text-align: right;
    margin-right: 2em;
}

input {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background-color: transparent;
    color:rgb(238, 245, 252);
    border: 0;
    border-bottom: 1px solid #cccccc;
    padding: 0 2.375rem;
    padding-bottom: 0.8em;
    font-size: 20px;
    outline: none;
}

.search-icon{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    padding-bottom: -8px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}